@import url('https://fonts.googleapis.com/css?family=Gughttps://fonts.googleapis.com/css2?family=Gugi&display=swap');

.avatarIds{
    height: 200px;
    width: 200px;
}

.mainPage{
    font-family: 'Gugi', cursive;
}